<!DOCTYPE html>
<html lang="en" dir="ltr">
  <head>
    <meta charset="utf-8">
    <title>Dispur Wireless</title>
    <link rel="stylesheet" href="https://stackpath.bootstrapcdn.com/bootstrap/4.1.1/css/bootstrap.min.css" 
          integrity="sha384-WskhaSGFgHYWDcbwN70/dfYBj47jz9qbsMId/iRN3ewGhXQFZCSftd1LZCfmhktB" crossorigin="anonymous">
          

    <meta name="viewport" content="width=device-width, initial-scale=1.0">
    <link rel="stylesheet" href="css/OperatorLanding.css">
  </head>
  <body>
    <div class="row justify-content-end" style="padding-top:5px; padding-right: 20px; margin-right: 0px;">
      <button class="btn btn-primary" id="logout-btn">Logout</button> 
      </div>
   
    <div class="wrapper-class">
      <div class="title-text">
        <div class="title-text">
          <h2 style="text-align: center;">Operator Management Portal</h2>
        </div>
      </div>
      <hr>
      <br>

      <div class="title-text">
        <h4 style="text-align: center;">Enter Customer Details to Generate Bill</h4>
      </div>
      <br>
      <form action="#" id="operator-form">
      <div class="row justify-content-center">
      <div class="field">
        <input type="text" placeholder="User ID" id="uid-input">
      </div>
      <div class="field">
        <input type="text" placeholder="Tariff ID" id = "tid-input">
      </div>
      <div class="field">
        <input type="text" placeholder="Voice Used" id="voice-input">
      </div>
      <div class="field">
        <input type="text" placeholder="Data Used" id="data-input">
      </div>
    </div>
      <!-- <div class="field">
        <input type="text" placeholder="Validity">
      </div>
      <div class="field">
        <input type="text" placeholder="Rental">
      </div> -->

      <br>
        <div class="row justify-content-end" style="padding-top:5px; padding-right: 20px;">
          <button class="btn btn-primary" id="bill-btn" style="width: auto;">Enter Usage</button>
        </div>
        <hr>
      </form>
    </div>

  </div>


  </body>
</html>