<!DOCTYPE html>
<html lang="en" dir="ltr">
  <head>
    <meta charset="utf-8">
    <title>Dispur Wireless</title>
    
    <link rel="stylesheet" href="https://stackpath.bootstrapcdn.com/bootstrap/4.1.1/css/bootstrap.min.css" 
    integrity="sha384-WskhaSGFgHYWDcbwN70/dfYBj47jz9qbsMId/iRN3ewGhXQFZCSftd1LZCfmhktB" crossorigin="anonymous">
    <meta name="viewport" content="width=device-width, initial-scale=1.0">
    <link rel="stylesheet" href="css/RM.css">
  </head>
  <body>
      <div class="row justify-content-end" style="padding-top:5px; padding-right: 20px; margin-right: 0px;">
        <button class="btn btn-primary" id="logout-btn">Logout</button> 
        </div>
    <div class="wrapper-class">
      <div class="title-text">
        <div class="title-class">View Customers</div>
      </div>
      <hr>
      <form action="#" id= "RM-form">
      <div class="field" style="text-align: center;">
        
        <input type="text" placeholder="Registration ID" required id="id-input">
      </div>

      
      <div class="row justify-content-center" style="padding-top:5px; padding-right: 20px; margin-right: 0px; ">
        <button class="btn btn-primary btn-xs" id="search-btn" style = "width: auto;">Search</button> 
      </div>
        <br>
        <hr>
      </form>
      <table class="table table-hover table-bordered results table-striped text-center" style="border-color: var(--dark)" id="display-table">
        <thead>
          <tr>
            <th>Registration ID</th>
            <th>First Name</th>
            <th>Last Name</th>
            <th>Contact</th>
            <th>Alt Contact</th>
            <th>email</th>
            <th>Address</th>
            <th>City</th>
            <th>State</th>
            <th>Pincode</th>
        </tr>
         
        </thead>
        <tbody>
          
          <tr>
            <th scope="row">C1234</th>
            <td>John(Keanu)</td>
            <td>Wick(Reaves)</td>
            <td>123456</td>
            <td>45678</td>
            <td>john.wick@babayaga.com</td>
            <td>82/92 Beaver Street</td>
            <td>NYC</td>
            <td>NY</td>
            <td>2212</td>
          </tr>
          
          
        </tbody>
      </table>
    </div>

  



  </body>
</html>