<!DOCTYPE html>
<html lang="en" dir="ltr">
  <head>
    <meta charset="utf-8">
    <title>Dispur Wireless</title>
    
    <link rel="stylesheet" href="https://stackpath.bootstrapcdn.com/bootstrap/4.1.1/css/bootstrap.min.css" 
    integrity="sha384-WskhaSGFgHYWDcbwN70/dfYBj47jz9qbsMId/iRN3ewGhXQFZCSftd1LZCfmhktB" crossorigin="anonymous">
    <meta name="viewport" content="width=device-width, initial-scale=1.0">
    <link rel="stylesheet" href="css/RM.css">
  </head>
  <body>
      <div class="row justify-content-end" style="padding-top:5px; padding-right: 20px; margin-right: 0px;">
        <button class="btn btn-primary">Logout</button> 
        </div>
    <div class="wrapper-class">
      <div class="title-text" style="text-align: center;">
        <h2 style="text-align: center;">Customer Details update</h2>
      </div>
<br>
<hr>
      <form action="#" id="updatecust-form">
                        <div class="row justify-content-start" style="padding-top:5px;">
        
                        <div class="col" style="padding-top:5px;">
        <label>First Name</label>
        
        
        
                        </div>
                        <div class="col" style="padding-top:5px;">
        <label>Last Name*</label>
        
        
        
                        </div>
                        </div>
                        <div class="row justify-content-start" style="padding-top:5px;">
        
                        <div class="col" style="padding-top:5px;">
        <input class="form-control" id="fname-input"></input>
        
        
                        </div>
                        <div class="col" style="padding-top:5px;">
        <input class="form-control" id="lname-input"></input>
        
        
                        </div>
                        </div>
                        <div class="row justify-content-start" style="padding-top:5px;">
        
                        <div class="col" style="padding-top:5px;">
        <label>Phone*</label>
        
        
        
                        </div>
                        <div class="col" style="padding-top:5px;">
        <label>Alternate Phone</label>
        
        
        
                        </div>
                        </div>
                        
                        
                        <div class="row justify-content-start" style="padding-top:5px;">
        
                        <div class="col" style="padding-top:5px;">
        <input class="form-control" id="phone-input"></input>
        
        
                        </div>
                        <div class="col" style="padding-top:5px;">
        <input class="form-control" id="alternatephone-input"></input>
        
        
                        </div>
                        </div>
                        <div class="row justify-content-start" style="padding-top:5px;">
        
                        <div class="col" style="padding-top:5px;">
        <label>email*</label>
        
        
        
                        </div>
                        <div class="col" style="padding-top:5px;">
        <label>Address*</label>
        
        
        
                        </div>
                        </div>
                        <div class="row justify-content-start" style="padding-top:5px;">
        
                        <div class="col" style="padding-top:5px;">
        <input class="form-control" id="email-input"></input>
        
        
                        </div>
                        <div class="col" style="padding-top:5px;">
        <input class="form-control" id = "address-input"></input>
        
        
                        </div>
                        </div>


                        <div class="row justify-content-start" style="padding-top:5px;">
        
                          <div class="col" style="padding-top:5px;">
          <label>City*</label>
          
          
          
                          </div>
                          <div class="col" style="padding-top:5px;">
          <label>State*</label>
          
          
          
                          </div>
                          </div>
                          <div class="row justify-content-start" style="padding-top:5px;">
          
                          <div class="col" style="padding-top:5px;">
          <input class="form-control" id="city-input"></input>
          
          
                          </div>
                          <div class="col" style="padding-top:5px;">
          <input class="form-control" id="state-input"></input>
          
          
                          </div>
                          </div>
                         




                          <div class="row justify-content-center" style="padding-top:5px;">
        
                            <div class="col" style="padding-top:5px;">
                            <label>Pincode*</label>
            
            
            
                            </div>
                            </div>
                            <div class="row justify-content-center" style="padding-top:5px;">
            
                            <div class="col" style="padding-top:5px;">
            <input class="form-control" id="pincode-input"></input>
            
            
                            </div>
                            </div>
                           


<br>
                        <div class="row justify-content-end" style="padding-top:5px;">
        <button class="btn btn-primary" id="update-btn" style="width: auto;">Update</button>
        
        
                        </div>
                      </form>
        
        
        </div>
        
        


  </body>
</html>