<!DOCTYPE html>
<html lang="en" dir="ltr">
  <head>
    <meta charset="utf-8">
    <title>Dispur Wireless</title>
    
    <link rel="stylesheet" href="https://stackpath.bootstrapcdn.com/bootstrap/4.1.1/css/bootstrap.min.css" 
    integrity="sha384-WskhaSGFgHYWDcbwN70/dfYBj47jz9qbsMId/iRN3ewGhXQFZCSftd1LZCfmhktB" crossorigin="anonymous">
    <meta name="viewport" content="width=device-width, initial-scale=1.0">
    <link rel="stylesheet" href="css/RM.css">
  </head>
  <body>
      <div class="row justify-content-end" style="padding-top:5px; padding-right: 20px; margin-right: 0px;">
        <button class="btn btn-primary" id="logout-btn">Logout</button> 
        </div>
    <div class="wrapper-class">
        <span class="emp button" style="padding-top:5px; padding-right: 20px; margin-right: 0px;">
            <button class="btn btn-primary" id="updateemp-btn">Update employee</button> 
        </span>

        <span class="emp button" style="padding-top:5px; padding-right: 20px; padding-left: 900px; margin-right: 0px;">
            <button class="btn btn-primary" id="addemp-btn">Add employee</button> 
        </span>
        <hr>
      <div class="title-text" >
        <div class="title login">
            <h2 style="text-align: center;">Registered Employee</h2></div>
        
      </div>
      <hr>
     
      <table class="table table-hover table-bordered results table-striped text-center" style="border-color: var(--dark)" id="display-table">
        <thead>
          <tr>
            <th>Employee ID</th>
            <th>First Name</th>
            <th>Last Name</th>
            <th>Contact</th>
            <th>email</th>
            <th>Department</th>
            <th>Designation</th>
            <th>Select</th>
        </tr>
         
        </thead>
        <tbody>
          
          <tr>
            <th scope="row">E007</th>
            <td>Bond</td>
            <td>James Bond</td>
            <td>007-007-007</td>
            <td>bondjamesbond@bond.com </td>
            <td>MI6</td>
            <td>OO Agent</td>
            <td><input type="checkbox" id="emp-check"  value="">
            </td>
          </tr>
          
          
        </tbody>
      </table>
      <div class="row justify-content-end" style="padding-top:5px; padding-right: 20px; margin-right: 0px;">
        <button class="btn btn-primary" id="deleteemp-btn">Delete employee</button> 
        </div>
    </div>

    <!-- <script>
      const loginText = document.querySelector(".title-text .login");
      const loginForm = document.querySelector("form.login");
      const loginBtn = document.querySelector("label.login");
      const signupBtn = document.querySelector("label.signup");
      const signupLink = document.querySelector("form .signup-link a");
      signupBtn.onclick = (()=>{
        loginForm.style.marginLeft = "-50%";
        loginText.style.marginLeft = "-50%";
      });
      loginBtn.onclick = (()=>{
        loginForm.style.marginLeft = "0%";
        loginText.style.marginLeft = "0%";
      });
      signupLink.onclick = (()=>{
        signupBtn.click();
        return false;
      });
    </script> -->



  </body>
</html>