<!DOCTYPE html>
<html lang="en">
  <head>
    <meta charset="utf-8" />
    <meta
      name="viewport"
      content="width=device-width, initial-scale=1, shrink-to-fit=no"
    />
    <meta name="description" content="" />
    <meta name="author" content="" />

    <title>Dispur Wireless Ltd</title>

    <!-- Bootstrap core CSS -->
    <link href="vendor/bootstrap/css/bootstrap.min.css" rel="stylesheet" />

    <!-- Custom styles for this template -->
    <link href="css/small-business.css" rel="stylesheet" />
    <link rel="stylesheet" href="https://cdnjs.cloudflare.com/ajax/libs/font-awesome/4.7.0/css/font-awesome.min.css">
  </head>

  <body>
    <!-- Navigation -->
    <nav class="navbar navbar-expand-lg navbar-dark bg-dark fixed-top">
      <div class="container">
        <a class="navbar-brand" href="#">Dispur Wireless</a>
        <button
          class="navbar-toggler"
          type="button"
          data-toggle="collapse"
          data-target="#navbarResponsive"
          aria-controls="navbarResponsive"
          aria-expanded="false"
          aria-label="Toggle navigation"
        >
          <span class="navbar-toggler-icon"></span>
        </button>
        <div class="collapse navbar-collapse" id="navbarResponsive">
          <ul class="navbar-nav ml-auto">
            <li class="nav-item active">
              <a class="nav-link" href="#"
                >Home
                <span class="sr-only">(current)</span>
              </a>
            </li>
            <li class="nav-item">
              <a class="nav-link" onclick="subscriptions()">Subscriptions</a>
            </li>
            <li class="nav-item">
              <a class="nav-link" onclick="usage()">Usage</a>
            </li>
            <li class="nav-item">
              <a class="nav-link" onclick="bills()">Bills</a>
            </li>
            <li class="nav-item">
              <a class="nav-link" onclick="logout()">Logout</a>
            </li>
          </ul>
        </div>
      </div>
    </nav>

    <!-- Page Content -->
    <div class="container">
      <!-- Heading Row -->
      <div class="row align-items-center my-5">
        <div class="col-lg-7">
          <img class="img-fluid rounded mb-4 mb-lg-0" src="logo.jpg" alt="" />
        </div>
        <!-- /.col-lg-8 -->
        <div class="col-lg-5">
          <h1 class="font-weight-light">Dispur Wireless</h1>
          <p>
Our market-leading solutions enable service providers to create and operate high quality, service assured, carrier-grade, intelligent networks. They provide the capabilities for service differentiation that enable new forms of revenue generation, maximizing network profitability. Service providers, large and small, depend on our consistent delivery of advanced solutions, enabling them to stay ahead of the capacity crunch while keeping total cost of ownership to a minimum.
          </p>
        </div>
        <!-- /.col-md-4 -->
      </div>
      <!-- /.row -->

      <!-- Call to Action Well -->
      <div class="card text-white bg-secondary my-5 py-4 text-center">
        <div class="card-body">
          <p class="text-white m-0">
            Find all the exciting tarrif plans made exclusively for you as per your usage.
          </p>
        </div>
      </div>

      <!-- Content Row -->
      <div class="row" data-bind="foreach: viewModel.plans">
        <div class="col-md-4 mb-5">
          <ul class="price">
            <li class="header">Premium</li>
            <li class="grey" data-bind="text: planName"></li>
            <li><span data-bind="text: dataTarrif"></span><span> p/s</span></li>
            <li><span data-bind="text: callTarrif"></span><span> kb/s</span></li>
            <li><span data-bind="text: validity"></span><span> days</span></li>
            <li>1GB Bandwidth</li>
            <li class="grey" id="subscribe-btn">
              <a class="button" data-bind="click:viewModel.subscribe">Subscribe</a>
            </li>
          </ul>
        </div>
      </div>
      <!-- /.row -->
    </div>
    <!-- /.container -->

    <!-- Footer -->
    <footer class="py-5 bg-dark">
      <div class="container">
        <p class="m-0 text-center text-white">
          Copyright &copy; <a href="https://github.com/tango97" style="text-decoration:none"><i class="fa fa-github"></i> tango97</a>
        </p>
      </div>
      <!-- /.container -->
    </footer>

    <!-- Bootstrap core JavaScript -->
    <script src="vendor/jquery/jquery.min.js"></script>
    <script src="vendor/bootstrap/js/bootstrap.bundle.min.js"></script>
    <script src="https://ajax.googleapis.com/ajax/libs/jquery/3.4.1/jquery.min.js"></script>
    <script src="https://cdnjs.cloudflare.com/ajax/libs/knockout/3.5.1/knockout-latest.js" integrity="sha512-2AL/VEauKkZqQU9BHgnv48OhXcJPx9vdzxN1JrKDVc4FPU/MEE/BZ6d9l0mP7VmvLsjtYwqiYQpDskK9dG8KBA==" crossorigin="anonymous"></script>
  </body>
</html>

<style>
  * {
    box-sizing: border-box;
    border-radius: 15px;
  }

  .columns {
    float: left;
    width: 33.3%;
    padding: 8px;
  }

  .price {
    list-style-type: none;
    border: 1px solid #eee;
    margin: 0;
    padding: 0;
    -webkit-transition: 0.3s;
    transition: 0.3s;
  }

  .price:hover {
    box-shadow: 0 8px 12px 0 rgba(0, 0, 0, 0.2);
  }

  .price .header {
    background-color: #111;
    color: white;
    font-size: 25px;
  }

  .price li {
    border-bottom: 1px solid #eee;
    padding: 20px;
    text-align: center;
  }

  .price .grey {
    background-color: #eee;
    font-size: 20px;
  }

  .button {
    background-color: #7289da;
    border: none;
    color: white;
    padding: 10px 25px;
    text-align: center;
    text-decoration: none;
    font-size: 18px;
  }

  @media only screen and (max-width: 600px) {
    .columns {
      width: 100%;
    }
  }
</style>
<script>
var viewModel
$( document ).ready(function() {
  var id = sessionStorage.getItem('id');
  $.ajax({
      type: "GET",
      url: "http://127.0.0.1:5000/plans/"+id,
      contentType: "application/json; charset=utf-8",
      dataType: "json",
      success: function(result){
          viewModel = {
            plans : result.plans,
            subscribe : function(){
                            pid = this.planID
                            console.log(pid)
                            var id = sessionStorage.getItem('id');
                            var formData = {}
                            formData['cid'] = id
                            formData['pid'] = pid
                              $.ajax({
                                type: "POST",
                                url: "http://127.0.0.1:5000/subscribe",
                                data: formData,
                                success: function(result){
                                    alert("Succesfully Subscribed")
                                    location.reload();
                                },
                                error: function(error){
                                  alert("Error Subscribing!")
                                }
                            });
            }
          }
          console.log(viewModel)
          ko.applyBindings(viewModel);
      },
      error: function(error){
        console.log(error);
      }
  });
});
function subscriptions(){
  window.location.href = "mySubscriptions.html";
}
function usage(){
  window.location.href = "myUsage.html";
}
function bills(){
  window.location.href = "myBills.html";
}
function logout(){
  sessionStorage.removeItem('id');
  window.location.href = "login--.html";
}

</script>
